* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  /* color: #ffffff; */
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #18373a;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #e6e6e6;
  margin: 0;
  display: inline;
}
header p {
  text-decoration: none;
  color: #e6e6e6;
}
header nav {
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li p {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.section1 {
  padding: 30px 30px;
}

.instruction {
  text-align: center;
}

.instruction p {
  line-height: 1.7;
  color: #0b191a;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.instruction h2 {
  color: #0b191a;
}

#quizBlock {
    padding: 30px 30px;
}

#topScoresDiv {
  padding: 30px 30px;
}

.timerText {
  color: black;
  font-weight: 700;
}

.startQuizBtn {
  border: none;
  background-color: #18373a;
  color:white;
  padding: 20px;
  border-radius: 10%;
}

.quizBtn {
  border: none;
  background-color: #18373a;
  color:white;
  padding: 20px;
  border-radius: 10%;

}

.inputDiv {
  border-color: #18373a;
  
}

.inputBtn {
   background-color: #18373a;
   color: white;
   padding: 5px 20px;
   border: none;
}
